#-----------------------------------
#   FSD Utils
#-----------------------------------

funding-service-design-utils>=2.0.40,<=4.0.0

requests==2.32.3

#-----------------------------------
#   Flask Version
#-----------------------------------
Flask==3.0.3

#-----------------------------------
#   Static Assets
#-----------------------------------
Flask-Assets==2.1.0
Flask-Compress==1.15
cssmin==0.2.0
pyScss==1.4.0
jsmin==3.0.1
govuk-frontend-jinja==3.1.0

#-----------------------------------
#   Forms
#-----------------------------------
Flask-WTF==1.2.1
email-validator==2.2.0

#-----------------------------------
#   Redis / Session Management
#-----------------------------------
flask-redis==0.4.0
Flask-Session==0.8.0
flask-talisman==1.1.0
PyJWT==2.9.0

#-----------------------------------
#   Azure Active Directory
#-----------------------------------
msal==1.30.0

#-----------------------------------
#   Connexion APIs
#-----------------------------------
connexion[flask,swagger-ui,uvicorn]
openapi-spec-validator
prance

#-----------------------------------
#   Other
#-----------------------------------
beautifulsoup4==4.12.3
