-r requirements.txt
bandit
beautifulsoup4
dparse>=0.5.2
black
debugpy
deepdiff
invoke
pre-commit
pytest
pytest-env
pytest-flask
pytest-mock==3.10.0
pytest-selenium==2.0.1
pip-tools>=6.13.0
selenium==4.2.0
webdriver-manager==4.0.1
