#-----------------------------------
#   FSD Utils
#-----------------------------------

funding-service-design-utils>=2.0.1,<2.1.0

requests

#-----------------------------------
#   Flask Version
#-----------------------------------
Flask==2.2.5

#-----------------------------------
#   Static Assets
#-----------------------------------
Flask-Assets==2.0
Flask-Compress==1.10.1
cssmin==0.2.0
pyScss==1.4.0
jsmin==3.0.1
govuk-frontend-jinja==2.3.0

#-----------------------------------
#   Forms
#-----------------------------------
Flask-WTF==1.0.0
email-validator==1.2.1

#-----------------------------------
#   Redis / Session Management
#-----------------------------------
flask-redis==0.4.0
Flask-Session==0.4.0
flask-talisman==0.8.1
PyJWT==2.4.0

#-----------------------------------
#   Azure Active Directory
#-----------------------------------
msal==1.18.0

#-----------------------------------
#   Database
#-----------------------------------
SQLAlchemy
Flask-SQLAlchemy
Flask-Migrate
mako>=1.2.2

#-----------------------------------
#   Connexion APIs
#-----------------------------------
connexion==2.14.2
swagger-ui-bundle
openapi-spec-validator
prance
