{% macro contact_details(contact_us_email_address, contact_us_phone, contact_us_text_phone, opening_days, opening_time, closed) %}
    {% if contact_us_email_address|length %}
    <p class="govuk-body">Email:<br>
        <strong class="govuk-!-font-weight-bold"><a class="govuk-link"
                                                    href="mailto:{{ contact_us_email_address }}">{{ contact_us_email_address }}</a></strong>
    </p>
    <div class="govuk-inset-text">Do not send any applications or attachments by email. We'll only accept applications
            through this service.</div>
    {% endif %}
    {% if contact_us_phone|length %}
        <p class="govuk-body">Telephone:<br><strong class="govuk-!-font-weight-bold">{{ contact_us_phone }}</strong></p>
    {% endif %}
    {% if contact_us_text_phone|length %}
        <p class="govuk-body">Textphone:<br>
            <strong class="govuk-!-font-weight-bold">{{ contact_us_text_phone }}</strong>
        </p>
    {% endif %}
    <p class="govuk-body">
        Opening times:<br>
        <strong class="govuk-!-font-weight-bold">{{ opening_days }}: {{ opening_time }}</strong>
    </p>
    <p class="govuk-body">
        Closed: {{ closed }}.
    </p>
{% endmacro %}
