{% extends "base.html" %}

{% block pageTitle %}{% trans %}Sorry, there is a problem with the service{% endtrans %} – {{ base_title }}{% endblock pageTitle %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">{% trans %}Sorry, there is a problem with the service{% endtrans %}</h1>
            <p class="govuk-body">{% trans %}Try again later.{% endtrans %}</p>
            <p class="govuk-body">
                <a class="govuk-link" href=" {{ contact_us_url }}">{% trans %}Contact us{% endtrans %}</a> {% trans %}if you have any questions.{% endtrans %}
            </p>
        </div>
    </div>
{% endblock content %}
