{% extends "govuk_frontend_jinja/template.html" %}

{% set assetPath = url_for('static', filename='').rstrip('/') %}

{% set base_title = gettext("Access Funding") if is_error else get_service_title() %}

{% block pageTitle %}{{ [pageHeading, base_title]|join(' - ') if pageHeading else base_title }}{% endblock pageTitle %}

{% block head %}
  {% include "head.html" %}
{% endblock head %}

{% block header %}
  {% include "header.html" %}
{% endblock header %}

{% block footer %}
  {% include "footer.html" %}
{% endblock footer %}

{% block bodyEnd %}
  <!--[if gt IE 8]><!-->
  <script nonce="{{ csp_nonce() }}" src="{{ url_for('static', filename='govuk-frontend/govuk-frontend-4.0.0.min.js') }}"> </script>
  <script nonce="{{ csp_nonce() }}">

    window.addEventListener('load', (event) => {

        window.GOVUKFrontend.initAll();
        AuthenticatorFrontend.initAll();
    });
  </script>
  <!--<![endif]-->
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <!-- djlint:off -->
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-M5J9Q8HV"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
        <!-- djlint:on -->
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
{% endblock bodyEnd %}
