{% extends 'govuk_frontend_jinja/template.html' %}

{% set assetPath = url_for('static', filename='').rstrip('/') %}

{% block serviceTitle %}{{ service_title }}{% endblock %}

{% block pageTitle %}{{[pageHeading, serviceTitle]|join(' - ') if pageHeading else serviceTitle}}{% endblock %}

{% block head %}
  {% include 'head.html' %}
{% endblock %}

{% block header %}
  {% include 'header.html' %}
{% endblock %}

{% block footer %}
  {% include 'footer.html' %}
{% endblock %}

{% block bodyEnd %}
  <!--[if gt IE 8]><!-->
  <script nonce="{{ csp_nonce() }}" src="{{ url_for('static', filename='govuk-frontend/govuk-frontend-4.0.0.min.js') }}"> </script>
  <script nonce="{{ csp_nonce() }}">

    window.addEventListener('load', (event) => {

        window.GOVUKFrontend.initAll();
        AuthenticatorFrontend.initAll();
    });
  </script>
  <!--<![endif]-->
{% endblock %}
