{% from "govuk_frontend_jinja/components/footer/macro.html" import govukFooter -%}
{{ govukFooter(
    {
        'meta': {
            'visuallyHiddenTitle': 'Items',
            'items': [
                {
                    'href': 'https://www.gov.uk/government/publications/community-ownership-fund-privacy-notice/community-ownership-fund-privacy-notice',
                    'text': 'Privacy'

                },
                {
                    'href': cookie_policy_url,
                    'text': 'Cookies'
                },
                {
                    'href': accessibility_statement_url,
                    'text': 'Accessibility Statement'
                },
            ]
    }
    }) }}
    
