{%- from "govuk_frontend_jinja/components/input/macro.html" import govukInput -%}
{%- from "govuk_frontend_jinja/components/button/macro.html" import govukButton -%}
{%- from "govuk_frontend_jinja/components/panel/macro.html" import govukPanel -%}
{% from "partials/migration_banner.html" import migration_banner %}

{% extends "base.html" %}
{% set pageHeading %}
{% if email %}
  {% trans %}Email sent{% endtrans %}
{% else %}
  {% trans %}Email not sent{% endtrans %}
{% endif %}
{% endset %}

{% block content %}

{% if migration_banner_enabled %}
  {{migration_banner()}}
{% endif %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        {% if not email %}
            <h1 class="govuk-heading-l govuk-!-margin-top-2">{{ pageHeading }}</h1>

            <p class="govuk-body">{% trans %}No email has been sent.{% endtrans %}</p>
            <p class="govuk-body">{% trans %}If you need a link to access your applications you can {% endtrans %}<a href="{{ url_for('magic_links_bp.new', fund=fund, round=round) }}" class="govuk-link govuk-link--no-visited-state">{% trans %}request a new link{% endtrans %}</a>.</p>

        {% else %}
            <h1 class="govuk-heading-l govuk-!-margin-top-2">{{ pageHeading }}</h1>

            <p class="govuk-body">{% trans %}We have sent an email to {% endtrans %}<span class="govuk-!-font-weight-bold">{{ email }}</span></p>
            <h2 class="govuk-heading-m">{% trans %}What happens next{% endtrans %}</h2>

            <p class="govuk-body">{% trans %}Use the link to confirm your email address and start a new application, or continue any applications you have in progress.{% endtrans %}</p>

            <p class="govuk-body">{% trans %}The link will work once and stop working after 24 hours.{% endtrans %}</p>

            <details class="govuk-details" data-module="govuk-details" open="open">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  {% trans %}If you do not receive an email{% endtrans %}
                </span>
              </summary>
              <div class="govuk-details__text">
                <p class="govuk-body">{% trans %}The email may take a few minutes to arrive.{% endtrans %}</p>
                <p class="govuk-body">{% trans %}Check your spam or junk folders – if it still has not arrived, you can {% endtrans %}<a href="{{ url_for('magic_links_bp.new', fund=fund, round=round) }}" class="govuk-link govuk-link--no-visited-state">{% trans %}request a new link{% endtrans %}</a>.</p>
              </div>
            </details>

        {% endif %}
        </div>

    </div>

{% endblock content %}
