{%- from "govuk_frontend_jinja/components/error-summary/macro.html" import govukErrorSummary -%}
{%- from "govuk_frontend_jinja/components/input/macro.html" import govukInput -%}
{%- from "govuk_frontend_jinja/components/button/macro.html" import govukButton -%}
{% from "partials/migration_banner.html" import migration_banner %}

{% extends "base.html" %}

{% set pageHeading %}{% trans %}Email address{% endtrans %}{% endset %}

{% block content %}

{% if migration_banner_enabled %}
  {{ migration_banner() }}
{% endif %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            {% if form.errors %}
                {{ govukErrorSummary({
        "titleText": gettext("There is a problem"),
        "errorList": form.error_list
      }) }}
            {% endif %}
            <form action="" class="form" method="post">
                <div class="govuk-form-group">
                    <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--l" for="email">
                        {{ pageHeading }}
                    </label>
                    </h1>
                    {{ form.hidden_tag() }}
                    {{ govukInput({
                'label': None,
                'hint': {
                    'html':
                        gettext("<p>We’ll email you a link to start a new application,"
                        " or continue any applications you have in progress.</p><p>The link"
                        " will work once and stop working after 24 hours.</p><p>If you want"
                        " to return to an application, you must use the email you started"
                        " the application with.</p>")

                },
                'id': form.email.id,
                'name': form.email.name,
                'value': form.email.data,
                "type": "email",
                "autocomplete": "email",
                "spellcheck": false,
                'classes': form.email.classes,
                'errorMessage': {
                    'text': form.email.errors.0
                } if form.email.errors
            }) }}
                </div>
                <div data-qa="send_magic_link_request">
                {{ govukButton({
                  "text": gettext("Continue"),
                  "preventDoubleClick": true,
                }) }}
                </div>
            </form>
        </div>
    </div>

    <form method="post">
        {{ form.hidden_tag() }}
    </form>

{% endblock content %}
