{%- from "govuk_frontend_jinja/components/button/macro.html" import govukButton
-%} {% extends "base.html" %} {% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds govuk-body">
    <p class="govuk-caption-l">Community Ownership Fund round 2</p>
    <h1 class="govuk-heading-xl">
      Apply for funding to save an asset in your community
    </h1>
    <p class="govuk-heading-s">
      Submission deadline: <span class="govuk-body">midday, {date} 2022</span>
    </p>

    {{ govukButton({
      "text": "Continue",
      "href": url_for('api_MagicLinksView_use', link_id=link_id),
      "isStartButton": true })
    }}
    <h2 class="govuk-heading-m">How to complete your application</h2>
    <h3 class="govuk-heading-s">Moving through the form</h3>
    <p>This form is split into sections based on how it will be assessed.</p>
    <p>You do not have to complete it in order, or all at once.</p>
    <p>
      You can preview the
      <a href="#" class="govuk-link">full list of
        application questions.</a>
    </p>
    <p>
      If you're inactive for 20 minutes, you'll be signed out and lose any
      information you have not saved.
    </p>
    <p>
      When you have written something in every field in a section, the section
      will be marked as complete. You can still change your responses in
      sections that are marked as complete.
    </p>
    <p class="govuk-heading-s">Saving progress and making changes</p>
    <p>
      If you need to edit or revisit any sections while you’re filling in the
      application, use the browser back button. The screen you’re editing will
      not save automatically, so select
      <strong>Save and continue</strong> before you go back.
    </p>
    <p>
      You can edit your responses as many times as you like before you submit.
    </p>
    <h3 class="govuk-heading-s">Submitting your application</h3>
    <p>
      When you have completed all sections, you’ll be able to submit your
      application.
    </p>
    <p>
      Once you have submitted your application, you’ll not be able to edit, add
      or change any sections.
    </p>

    <h2 class="govuk-heading-m">Get help</h2>
    <p class="govuk-body">
      If you have questions about the form or the fund, email us at
      <a class="govuk-link" href="mailto:COF@levellingup.gov.uk">COF@levellingup.gov.uk</a>.
    </p>
    <h2 class="govuk-heading-m">How we'll use your information</h2>
    <p class="govuk-body">
      Read how we'll use the information from your application in our
      <a class="govuk-link"
        href="https://www.gov.uk/government/publications/community-ownership-fund-privacy-notice">privacy notice</a>.
    </p>
  </div>
</div>

{% endblock %}
