{%- from "govuk_frontend_jinja/components/button/macro.html" import govukButton
-%}
{% extends "base.html" %}
{% set service_title = gettext("Apply for") + " " + fund_title %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds govuk-body">

    <p class="govuk-caption-l"> {{ fund_name }} {{ round_title }}</p>
    <h1 class="govuk-heading-xl">
      {% trans %}Apply for{% endtrans %} {{fund_title}}
    </h1>
    <p class="govuk-heading-s">
      {% trans %}Submission deadline:{% endtrans %} <span class="govuk-body">{{ submission_deadline|datetime_format }}</span>
    </p>

    {{ govukButton({
      "text": gettext("Continue"),
      "href": url_for('api_MagicLinksView_use', link_id=link_id),
      "isStartButton": true })
    }}

    <h2 class="govuk-heading-m">{% trans %}How to complete your application{% endtrans %}</h2>
    <h3 class="govuk-heading-s">{% trans %}Moving through the form{% endtrans %}</h3>
    <p>{% trans %}This form is split into sections based on how it will be assessed.{% endtrans %}</p>
    <p>{% trans %}You do not have to complete it in order, or all at once.{% endtrans %}</p>
    <p>
      {% trans %}You can preview the{% endtrans %}
      <a href="{{ all_questions_url }}" class="govuk-link">{% trans %}full list of application questions.{% endtrans %}</a>
    </p>
    <p>
      {% trans %}When you have written something in every field in a section, the section will be marked as complete. You can still
      change your responses in sections that are marked as complete.{% endtrans %}
    </p>


    <h3 class="govuk-heading-s">{% trans %}Saving progress and making changes{% endtrans %}</h3>
    <p>
      {% trans %}Your work will not save automatically. To make sure you do not lose anything, select <strong>Save and
        continue</strong> regularly, and always before you go back or close your internet browser window.{% endtrans %}
    </p>
    <p>{% trans %}If you need to edit or revisit any sections, use the browser back button.{% endtrans %}</p>
    <p>
      {% trans %}You can edit your responses as many times as you like before you submit.{% endtrans %}
    </p>


    <h3 class="govuk-heading-s">{% trans %}Submitting your application{% endtrans %}</h3>
    <p>
      {% trans %}When you have completed all sections, you’ll be able to submit your
      application.{% endtrans %}
    </p>
    <p>
      {% trans %}Once you have submitted your application, you’ll not be able to edit, add
      or change any sections.{% endtrans %}
    </p>

    <h2 class="govuk-heading-m">{% trans %}Get help{% endtrans %}</h2>
    <p class="govuk-body">
      {% trans %}If you have questions about the form or the fund, email us at{% endtrans %}
      <a class="govuk-link" href="mailto:COF@levellingup.gov.uk">COF@levellingup.gov.uk</a>.
    </p>
    <h2 class="govuk-heading-m">{% trans %}How we'll use your information{% endtrans %}</h2>
    <p class="govuk-body">
      {% trans %}Read how we'll use the information from your application in our{% endtrans %}
      <a class="govuk-link"
        href="https://www.gov.uk/government/publications/community-ownership-fund-privacy-notice">{% trans %}privacy notice{% endtrans %}</a>.
    </p>
  </div>
</div>

{% endblock %}
