name: Upload to S3
on:
  push:
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]+'

    paths-ignore:
      - '**/README.md'

jobs:
  deploy_dev:
    runs-on: ubuntu-latest
    steps:

      - name: Set env
        run: echo "RELEASE_VERSION=${GITHUB_REF#refs/*/}" >> $GITHUB_ENV

      - name: checkout code
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.10.x

      - name: build static assets
        run: python build.py

      - uses: vimtor/action-zip@v1
        with:
          files: './'
          dest: ./zip/${{ github.event.repository.name }}-${{github.ref_name}}.zip

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-secret-access-key: ${{ secrets.PAAS_AWS_SECRET_ACCESS_KEY}}
          aws-access-key-id: ${{ secrets.PAAS_AWS_KEY_ID }}
          aws-region: eu-west-2

      - name: Copy files to the test website with the AWS CLI
        run: |
          aws s3 sync ./zip s3://${{ secrets.PAAS_AWS_BUCKET }}
